/* ./../plugins/style_creator/templates/base_templates/style_creator.css*/



// TODO: use special mixin for complementary & subtly color sheme (with this we can simply generate 1-click premade themes)
// /* Mixin: Complementary Color Scheme */
// @base: #663333;
// @complement1: spin(@base, 180);
// @complement2: darken(spin(@base, 180), 5%);
// @lighten1: lighten(@base, 15%);
// @lighten2: lighten(@base, 30%);
//
// /* Implementation */
// .one   {color: @base;}
// .two   {color: @complement1;}
// .three {color: @complement2;}
// .four  {color: @lighten1;}
// .five  {color: @lighten2;}
//
// /* Mixin: Subtle Color Scheme */
// @base: #663333;
// @lighter1: lighten(spin(@base, 5), 10%);
// @lighter2: lighten(spin(@base, 10), 20%);
// @darker1: darken(spin(@base, -5), 10%);
// @darker2: darken(spin(@base, -10), 20%);
//
// /* Implementation */
// .one   {color: @base;}
// .two   {color: @lighter1;}
// .three {color: @lighter2;}
// .four  {color: @darker1;}
// .five  {color: @darker2;}



// IDEA: Für die blinkelicht Hinweis ANzeige welche Variable was ändert auf der aktuellen Seite,.. müssten wir über JS komplex arbeiten
//			Oder wie lassen es halt einfach normal durchn parser laufen (hat nur dann eben dauerhaft delay, etwas unschön)
//			Oder wir nutzen son workaround hier:
// 					.mix(){ animation: scp_pointer 2s infinite alternate; }
// 					@keyframes scp_pointer {
// 						0% {background-color: #4CA0E0; color: #4CA0E0;}
// 						25% {background-color: #FFB802; color: #FFB802;}
// 						50% {background-color: #D9442F; color: #D9442F;}
// 						75% {background-color: #3BC492; color: #3BC492;}
// 						100% {background-color: #e5e5e5; color: #e5e5e5;}
// 					}
//					@mix: animation: scp_pointer 2s infinite alternate;
// 					@color: ~'#000;@{mix}';
// 					body { color: @color; }


// StyleCreator Namespace
// #scp() !important;
// #scp() {	// TEMP for debugging



// Overlay & Base ELements
#scp_overlay {
	position: fixed;
	z-index: 999999;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	text-align: left;
}
.scp_style_settings {
	&.scp_dialog {
		position: absolute;
		top: 70px;
		left: 200px;

		width: 800px;
		height: 400px;

		background: url('@{eqdkpRootPath}plugins/style_creator/templates/base_templates/images/bg_strong.png') 50% 50% repeat;
		border: 1px solid #a3a3a3;
		box-shadow: 0 0 5px 1px #000, 0 0 10em 3em rgba(0,0,0,.5) inset;
		//box-shadow: 0 0 5px 1px #000, 0 0 3em 4em rgba(0, 0, 0, 0.15) inset;
	}
	&.scp_sidebar {
		width: 400px;
		height: 100%;

		background: url('@{eqdkpRootPath}plugins/style_creator/templates/base_templates/images/bg_strong.png') 50% 50% repeat;
		border: 1px solid #a3a3a3;
		box-shadow: 0 0 5px 1px #000, 0 0 10em 3em rgba(0,0,0,.5) inset;
		//box-shadow: 0 0 5px 1px #000, 0 0 3em 4em rgba(0, 0, 0, 0.15) inset;
	}
}

// Settings Head
.scp_style_settings_head {
	display: flex;

	height: 30px;
	margin: 25px 5px 0 5px;
	padding: 0 10px;

	justify-content: space-between;

	.scp_sidebar & {
		flex-direction: row-reverse;
	}
}
.scp_style_settings_head .scp_button {
	&:not(.scp_button-close) {
		margin: 5px;
	}
}
.scp_style_settings_title {
	position: absolute;
	top: -15px;
	left: -10px;

	padding: 3px 10px 7px 10px;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-weight: bold;

	background: url('@{eqdkpRootPath}plugins/style_creator/templates/base_templates/images/title_bar.png') no-repeat center / 100% 100%;
	border: none;
	color: #d12b2b;
	text-shadow: -1px -1px rgba(0,0,0,.3), 1px 1px #000;

	&:after {
		position: absolute;
		top: 0;
		right: 0;

		width: 35px;
		height: 100%;

		content: '';
		transform: translateX(100%);

		background: url('@{eqdkpRootPath}plugins/style_creator/templates/base_templates/images/title_bar_edge.png') no-repeat center / 100% 100%;
	}
}

// Settings Body
.scp_style_settings_body {
	height: calc(~'100% - 65px');	// Get & Calculate Height - depend of .scp_style_settings_head
	margin: 5px;

	.scp_dialog & {
		display: flex;

		flex-wrap: wrap;
	}
}
.scp_style_settings_menu {
	overflow-y: auto;

	height: 100%;
	padding-right: 3px;

	list-style: none;

	.scp_dialog & {
		margin-right: 5px;

		flex: 0 0 170px;
	}
}
.scp_style_settings_menu_item {
	 > label {
		display: block;

		margin-bottom: 5px;
		padding: 5px 10px;

		cursor: pointer;

		background: rgba(200, 90, 30, .5);
		border: 1px solid rgba(200, 90, 30, .5);
	}
	&.scp-selected > label {
		background: rgba(220, 100, 30, .8);
		border: 1px solid rgba(255, 90, 0, .8);
	}
}
.scp_style_settings_content {
	overflow-y: auto;

	box-sizing: border-box;
	height: 100%;

	background: url('@{eqdkpRootPath}plugins/style_creator/templates/base_templates/images/bg_soft.png') 50% 50% repeat;
	border: 1px solid #acacac;

	flex: 1 1 auto;

	.scp_sidebar & {
		display: none;
	}
}

// Controls
.scp_style_vars {
	display: none;

	&.scp-selected {
		display: block;
	}
}
.scp_style_var {
	position: relative;

	padding: 5px 5px 0;

	border-bottom: 1px solid rgba(255,255,255,.1);

	&[data-used='false'] {
		opacity: .5;
	}
	&[data-changed] {
		opacity: 1;
	}
	&:hover {
		background: rgba(155,155,155,.05);
		opacity: 1;
	}
}
.scp_style_var dt {
	font-size: 10px;
}
.scp_style_var dt label {
	display: block;

	padding: 2px 0 4px;

	font-size: 12px;
	font-weight: bold;
}
.scp_style_var dt p {
	padding-left: 7px;

	color: #999;
}
.scp_style_var dt span {
	position: absolute;
	top: 3px;
	right: 10px;

	-webkit-user-select: all;
	-moz-user-select: all;
	-ms-user-select: all;
	user-select: all;

	color: #777;
}
.scp_style_var dd {
	padding: 10px 0 5px 15px;
}

.scp_style_var .input {
	width: 18em;
	margin: 0;
	padding: 3px 3px;

	font-size: 12px;
	line-height: 1;

	background: hsla(100, 0, 0, 0);
	border-radius: 0;
}
.scp_style_var .textarea {
	width: 46em;
	height: 10em;
}

.scp_style_var .sp-input {
	display: inline-block !important;

	width: 14em;
}
.scp_style_var .sp-replacer {
	box-sizing: border-box;
	height: 20px;
	margin-left: -1px;
	padding: 0;

	border-radius: 0;
}
.scp_style_var .sp-replacer .sp-dd {
	padding: 3px 5px 0 0;

	font-size: 10px;
	line-height: 1;
}

// Buttons
.scp_button {
	margin: 0;
	padding: 3px 7px;

	font-size: 13px;

	background: rgba(200, 90, 30, .5) url('@{eqdkpRootPath}plugins/style_creator/templates/base_templates/images/bg_medium.png') 50% 50% repeat;
	border: 1px solid rgba(200, 90, 30, .5);
	border-radius: 0;

	&:hover {
		background: url('@{eqdkpRootPath}plugins/style_creator/templates/base_templates/images/bg_strong.png') 50% 50% repeat;
		border: 1px outset #ccc;
	}
}
.scp_button-close:extend(.scp_button) {
	position: absolute;
	top: 2px;
	right: 2px;

	width: 20px;
	height: 20px;

	background: url('@{eqdkpRootPath}plugins/style_creator/templates/base_templates/images/button_close.png') no-repeat center / 100% 100%;
	border: none;

	&:hover {
		background: url('@{eqdkpRootPath}plugins/style_creator/templates/base_templates/images/button_close_hover.png') no-repeat center / 100% 100%;
	}
}
.scp_button-toggle:extend(.scp_button) {
	padding: 2px 7px;

	.scp_dialog &:after {
		display: block;

		content: '\25c4';// ◄
	}
	.scp_sidebar &:after {
		display: block;

		content: '\25ba';// ►
	}
}
.scp_button-config:extend(.scp_button) {
	// margin-left: auto;
}



.scp_msg_box {
	z-index: 100;
}
.scp_msg_box_overlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	display: none;

	pointer-events: none;

	background: transparent;
	.scp_msg_box-active & {
		display: block;

		background: rgba(0, 0, 0, .8);
	}
}
.scp_msg_box_content {
	position: absolute;
	top: 50%;
	left: 50%;

	display: none;

	transform: translate(-50%,-50%);

	background: linear-gradient(to right, rgba(200, 90, 30, .5),rgba(200, 90, 30, .5)), url('@{eqdkpRootPath}plugins/style_creator/templates/base_templates/images/bg_strong.png') 50% 50% repeat;
	border: 1px solid rgba(200, 90, 30, .5);

	.scp_msg_box-active & {
		display: block;

		pointer-events: all;
	}
}
.scp_msg_box_head {
	padding: 5px 50px 5px 10px;

	background: rgba(0,0,0,.5);
	border-bottom: 1px solid rgba(200, 90, 30, .5);
}
.scp_msg_box_title {
	margin: 0;
	padding: 0;
}
.scp_msg_box_body {
	display: flex;

	padding: 10px 25px;

	box-shadow: 0 0 10px 2px rgba(0, 0, 0, .5) inset;

	flex-wrap: wrap;
	justify-content: space-around;

	.scp_button {
		padding: 7px 12px;
	}
}
.scp_msg_box_text {
	margin-bottom: 15px;

	flex: 1 0 100%;
}




// }	// TEMP for debugging
